[Desktop Entry]
Type=Application
Name=Install ArcoBobo
Comment=Installer for ArcoBobo
Categories=Utility;
Exec=pkexec /usr/bin/calamares
Icon=arco-calamares
